<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="jquery-3.7.0.min.js"></script>
    <title>banner</title>
<link rel="stylesheet" href="main.css">
<script>
    //팝업창
    var pop = window.open("popup.html","", "width=700,height=500");
    pop.moveBy(600,200);

$(document).ready(function() {
    $('.menu-selected').hover(function() {
        $(this).find('.menu-content').css('display', 'block');
    }, function() {
        $(this).find('.menu-content').css('display', 'none');
    });
    $('.menu-selected').focusin(function() {
        $(this).find('.menu-content').css('display', 'block');
    }).focusout(function() {
        $(this).find('.menu-content').css('display', 'none');
    });
});
</script>
</head>
<body>
<div class="container">
    <div class="logo"><a href="banner.html"><img src="logo3.jpg" id="logo1"></img></a></div>
    <div class="menu">
        <ul class="menu-selected">
            <div id="sel" class="me">item ▼</div>
            <div class="menu-content" style="display: none;">
                <a href="top.html"><li id="sel"> top</li></a>
                <a href="bottom.html"><li id="sel">bottom</li></a>
                <a href="outer.html"><li id="sel">outer</li></a>
            </div>
        </ul>
        
    </div>
    <div class="menu">
        <ul class="menu-selected">
            <div id="sel" class="me">home page ▼</div>
            <div class="menu-content" style="display: none;">
                <a href="bord.html"><li id="sel">게시판 </li></a>
                <a href="notice.html"><li id="sel">notice </li></a>
                <a href="center.html"><li id="sel">고객센터 </li></a>
            </div>
        </ul>
    </div>

    <div class="menu">
        <ul class="menu-selected">
            <div id="sel" class="me">my page ▼</div>
            <div class="menu-content" style="display: none;">
                <li id="sel">주문 내역<!-- 민태 --></li>
                <a href="mypage.html"><li id="sel">내 정보</li></a>
                <li id="sel">cart<!-- 건아 --></li>
            </div>
        </ul>
    </div>
    <div class="menu" id="loginButtonContainer">
        <a id="loginButton" href="login.html">Login</a>
    </div>
    <div class="menu" id="logoutButtonContainer" style="display: none;">
        <a id="logoutButton" href="#">Logout</a>
    </div>
</div>
<header class="logo33">
    <br>
    <br>
    <img src="logo3.jpg" width="120px" height="100px" alt="">
    <!--검색창 -->
    <div class="search">
        <input type="text" placeholder="검색어를 입력해주세요." class="sear">
        <button><img src="search.jpg"></button>
   </div>
   <!--
   <div class="button">
        <button>검색</button>
   </div>
   검색창 -->
    <br>
    <br>
</header>
<!-- a herf 링크 걸어야함 
<div class="logo33">
    <br>
    <br>
    <ul> <img src="logo3.jpg" width="120px" height="100px" alt="">
    </ul>
    <br>
    <br>
</div>
-->
<br>
<br>
<br>
<br>

<div>
    <ul class="new">★신상품★</ul>
    <hr>
    <ul><img src="P1.png" width="500px" height="300px"></ul> 
    
</div>
<div>
    <ul class="best">★베스트★</ul>
</div>
<hr>
<div>
        <div class="best-image"> <img src="P2.png" width="500px" height="300px">
        <p class="price">90,000</p></div>
        <div class="best-image"><img src="P2.png" width="500px" height="300px"></div>
        <div class="best-image"><img src="P2.png" width="500px" height="300px"></div>
        <div class="best-image"><img src="P2.png" width="500px" height="300px"></div>
        
</div>
<script>
    // 페이지 로드 시 로그인 상태 확인
    window.addEventListener('load', checkloginStatus());
    function checkloginStatus() {
      // "check-login" 라우터를 호출하여 로그인 상태를 확인
      
      fetch(`http://localhost:3000/api/checklogin/`)
        .then((response) => {
          if (response.status === 200) {
            return response.json();
          } else {
            throw new Error('로그인 상태 확인 실패');
          }
        })
        .then((data) => {
          if (data.success == true) {
            // 로그인된 경우
            document.getElementById('loginButtonContainer').style.display = 'none';
            document.getElementById('logoutButtonContainer').style.display = 'inline-block';
          } else {
            // 로그인되지 않은 경우
            document.getElementById('loginButtonContainer').style.display = 'inline-block';
            document.getElementById('logoutButtonContainer').style.display = 'none';
          }
        })
        .catch((error) => {
          console.error(error);
        });
    }
  </script>
</body>
</html>